@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbfbfc;
    font-family: 'Roboto', sans-serif;
}

.settings{
    text-align: left;
    padding: 40px;
    width: 320px;
    top: 35%;
    left: 42%;
    position: absolute;
    background-color: #fbfbfc;
    visibility: hidden;
    transform: scale(0.5);
    transition: 0.1s ease;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
}

.settings-form{
    margin-left: 50px;
    width: 150px;
    font-size: 13px;
    font-weight: 500;
    color: #1d2034;

}

.settings-form button{
    margin-top: 10px;
    height: 25px;
    width: 50px;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

}

.button-save{
    border: none;
    background-color: #6374ae;
    margin-left: 10px;
    color: #fbfbfc;

}

.button-save:hover{
    background-color: #414f88;

}

.button-close{
    border: 2px solid;
    border-color: #6374ae;
    margin-left: 5px;
}

.settings-form h3{
    font-size: 20px;
    margin-bottom: 25px;
    color: #1d2034;
}

#healthtax{
    margin-left: 24px;
}

#foodtax{
    margin-left: 39px;
}
#renttax{
    margin-left: 40px;
}

.settings-form input{
    position: relative;
    margin-bottom: 20px;
    border: 1px solid rgba(100, 100, 111, 0.5);
    border-radius: 5px;
    height: 25px;
    width: 40px;
    text-align: center;
    margin-left: 10px;
}

.open-settings{
    visibility: visible;
    transform: scale(1);

}


.header{
    background-color: #fbfbfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 10px 0px;
}

.header h1{
    background-color: #fbfbfc;
    flex: 1;
    text-align: center;
    margin-left: 520px;
    font-weight: 900;
    color: #1d2034;
}

.header button{
    height: 20px;
    margin-right: 500px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0px auto;
}

.form-row{
    width: 100%;
    margin: 0px auto;
    display: flex;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 500;
}

.form-row-2{
    display: flex;
    font-size: 12px;
    font-weight: 500;
}

.amount{
    margin-left: 150px
}

.type-container{
    margin-left: -25px;

}

.date-container{
    margin-left: -25px;
}

.form-container input{
    padding-left: 5px;
    padding-right: 5px;
}

.number-container{
    margin-left: 150px;
}

.who-container{
    margin-left: 150px;
}

.type-container select, .form-container input{
    width: 180px;
    border: 1px solid rgba(100, 100, 111, 0.5);
    border-radius: 7px;
    height: 30px;
    margin-top: 5px;
}

.type-container select{
    padding-left: 2px;
}

.form-container button{
    position: relative;
    left: 45%;
    margin-top: 20px;
    width: 75px;
    height: 30px;
    border: none;
    background-color: #6374ae;
    color: #fbfbfc;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
}

.form-container button:hover{
    background-color: #414f88;
    cursor: pointer;
}

.setbutton{
    border: none;
    color: #7686ba;
    cursor: pointer;
}

.setbutton:hover{
    color: #6374ae;
    transform: scale(1.05);
}

.data {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    text-align: center;
    font-size: 14px;
}

.table {
    width: 1000px;
    border-collapse: collapse;

}


.table td,.table th{
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: #fbfbfc;
}

.table th {
    background-color: #6374ae;
    color: white;
    padding: 8px;
    height: 40px;
}


.table tbody {
    max-height: 400px; /* Set a max-height for tbody */
    overflow-y: scroll; /* Enable vertical scroll for tbody */
}

.table td {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
}

tr:nth-child(even) {background-color: #2c3e5011;}

.delbutton{
    color: #e74c3c;
    border: none;
    cursor: pointer;
    background-color: rgb(245, 246, 250, 0.1);
}

.delbutton:hover{
    transform: scale(1.1);
}


.table-total {
  width: 500px;
  margin: 0 auto;
  text-align: left;

}

.table-total td{
    padding: 10px;
    margin-bottom: 100px;

}


.detail-left{
    background-color: #6374ae;
    color: #fbfbfc;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 130px;
}

.detail-mid{
    background-color: #eaebf4;
    width: 100px;
}

.detail-mid input{
    background-color: #eaebf4;
    width: 100px;
    height: 25px;
    font-size: 14px;
    font-weight: 500;

}

.detail-head-mid{
    height: 30px;
    width: 25px;
    background-color: #6374ae;
    padding: 10px;
    color: #fbfbfc;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px 0px 0px 0px;

}

.detail-head-right{
    height: 30px;
    width: 25px;
    background-color: #6374ae;
    padding: 10px;
    color: #fbfbfc;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px 10px 10px 0px;

}

.detail-right{
    border-radius: 0px 10px 10px 0px;
    background-color: #eaebf4;

}
.detail-right input{
    background-color: #eaebf4;
    height: 25px;
    font-size: 14px;
    font-weight: 500;

}

.table-total input{
    border: none;
}

.detail-container{
    width: 1100px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail-refund{
    font-size: 14px;
    font-weight: 500;
    border-radius: 70px;
    background: linear-gradient(to right, #7686ba, #414f88);
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fbfbfc;
}

.detail-refund label{
    background-color: #00804800;
}

.detail-refund span{
    font-size: 22px;
    font-weight: 700;
    background-color: #00804800;
    border-bottom: 1px solid;

}

.detail-refund input{
    background-color: #6c5ce700;
    border: none;
    font-size: 35px;
    font-weight: 900;
    width: 250px;
    height: 70px;
    color: #fbfbfc;
    text-align: center;
    margin-top: -5px;
}

